@property --color1 {
  syntax: "<color>";
  initial-value: #dbeafe;
  inherits: false;
}

@property --color2 {
  syntax: "<color>";
  initial-value: #f0f9ff;
  inherits: false;
}

.container {
  background: linear-gradient(to bottom, var(--color1), var(--color2));
  transition:
    --color1 1s,
    --color2 1s;
}

.default {
  --color1: #dbeafe;
  --color2: #f0f9ff;
}

.clear-day {
  --color1: #fdb813;
  --color2: #ffdd00;
}
.clear-night {
  --color1: #0F2027;
  --color2: #2C5364;
}

.partly-cloudy-day {
  --color1: #87CEEB;
  --color2: #f0f8ff;
}

.partly-cloudy-night {
  --color1: #2C3E50;
  --color2: #4CA1AF;
}

.cloudy {
  --color1: #D7DDE8;
  --color2: #757F9A;
}

.fog {
  --color1: #BDC3C7;
  --color2: #D7DDE8;
}

.rain {
  --color1: #4B79A1;
  --color2: #283E51;
}

.showers-day {
  --color1: #5f9ea0;
  --color2: #92a8d1;
}

.showers-night {
  --color1: #2c3e50;
  --color2: #4b6cb7;
}

.rain-snow {
  --color1: #6dd5ed;
  --color2: #2193b0;
}

.rain-snow-showers-day {
  --color1: #89f7fe;
  --color2: #66a6ff;
}

.rain-snow-showers-night {
  --color1: #373B44;
  --color2: #4286f4;
}

.sleet {
  --color1: #a1c4fd;
  --color2: #c2e9fb;
}

.hail {
  --color1: #d9e4f5;
  --color2: #f5f7fa;
}

.snow {
  --color1: #E0EAFc;
  --color2: #CFDEF3;
}

.snow-showers-day {
  --color1: #f0faff;
  --color2: #dce9f9;
}

.snow-showers-night {
  --color1: #23395d;
  --color2: #485563;
}

.thunder {
  --color1: #3a6073;
  --color2: #16222a;
}

.thunder-rain {
  --color1: #1e3c72;
  --color2: #2a5298;
}

.thunder-showers-day {
  --color1: #485563;
  --color2: #29323c;
}

.thunder-showers-night {
  --color1: #0f0c29;
  --color2: #302b63;
}

.wind {
  --color1: #74ebd5;
  --color2: #ACB6E5;
}

.tstorm {
  --color1: #373b44;
  --color2: #4286f4;
}
