* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

main {
  max-width: 900px;
  margin: 0 5px;
  filter: blur(0px);
  transition: filter 1s;
}

main.loading {
  filter: blur(10px);
}