* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial;

  margin-bottom: 15px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 900px;
}