.hourly {
  display: flex;
  overflow-x: auto;

  margin-top: 15px;
}

.hour-card {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  border-radius: 16px;
  background-color: var(--div-background-color);
  color: white;

  margin-right: 10px;
}

.hour-card > div {
  display: grid;
}

.hour-card > div > div {
  display: flex;
  align-items: center;

  & img {
    width: 20px;
    height: 20px;
  }

  & p {
    margin: 0;
  }
}
